#site-header {
    background-color: var(--c-black);
    color: var(--c-white);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: var(--pad-sm);
}

#site-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.2rem;
    width: 10%;
}

#site-header a {
    text-decoration: none;
    color: var(--c-white);
}