---
import SiteLayout from '../layouts/Site.astro';
---
<SiteLayout stylesheets={["/css/pages/404.css"]}>
    <div>
        <p>Sorry Mario, but your princess is in another castle...</p>
    </div>
</SiteLayout>