---
import Site from '../layouts/Site.astro';
import { getCollection } from 'astro:content';

const blogEntries = await getCollection('blog');
console.log('meow')
---

<Site title="Astral" author="phq" date="21.09.1990." cssPath="/css/pages/index.css">
    <section>
        {blogEntries.map((x, i) => (
            <li>
                {x.data.title}
            </li>
          ))}
    </section>
</Site>