---
import SiteLayout from '../layouts/Site.astro';
---

<SiteLayout stylesheets={["/css/pages/index.css"]}>
	<section>
		<p>
			Welcome to the cosmos, where the mysteries of the universe unfold before our eyes! Our astronomy website invites you on an exhilarating journey through the vast expanse of space, where stars are born, galaxies collide, and planets dance in their orbits. Whether you're a seasoned stargazer or an aspiring astronomer, embark with us on an exploration of celestial wonders, from the enigmatic depths of black holes to the dazzling beauty of distant nebulae. Join us as we unravel the secrets of the cosmos and ponder the profound questions that lie beyond the reaches of our earthly realm. Welcome to a universe of discovery, where the wonders of the night sky await your exploration.
		</p>

		<p>
			Visit our <a href="/blog/entries">blog page</a> to read some shit on some space related stuff.
		</p>
	</section>
</SiteLayout>
