#site-header {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--pad-sm);

    background-color: var(--c-black);
    color: var(--c-white);

    /* backdrop-filter: blur(6px); */
    
    opacity: .93;

    box-shadow: 2px 2px 5px var(--c-grey);

    .headhome {
        text-decoration: none;
    }

    h1 {
        margin: 0;
        color: var(--c-white-d1);
    }

    h1:hover {
        cursor: pointer;
        text-shadow: 2px 2px 3px var(--c-red);
    }

    nav {
        width: 20%;
        
        ul {
            list-style: none;
            display: flex;
            justify-content: flex-end;

            li {
                padding-left: var(--pad-sm);

                a {
                    color: var(--c-white-d1);
                    text-decoration: dashed;
                }

                a:hover {
                    color: var(--c-green);
                }
            }
        }
    }
}

main {
    max-height: 90vh;
    height: 90vh;
    overflow-y: auto;
}

#site-footer {
    background-color: var(--c-black);
    color: var(--c-white);
    text-align: center;
    position: sticky;
    bottom: 0;
}