---
type Props = {
    title?: string;
    stylesheets?: string[];
    scripts?: [];
}

const { title = 'Astral', stylesheets = [], scripts = [] } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/variables.css" media="screen" />
    <link rel="stylesheet" href="/css/major_tags.css" media="screen" />
    <link rel="stylesheet" href="/css/buttons.css" media="screen" />
    <link rel="stylesheet" href="/css/layout/site.css" media="screen" />
    {stylesheets.map(x => <link rel="stylesheet" href={x} media="screen" />)}
    <title>{ title }</title>
</head>
<body>
    {
        () => {
            if(scripts.length > 0) {
                <noscript>This page requires JavaSrcipt in order to function properly</noscript>
            }
        }
    }
    <header id="site-header">
        <a class="headhome" href="/#">
            <h1>Astral</h1>
        </a>
        <nav>
            <ul>
                <li>
                    <a href="/#">Home</a>
                </li>
                <li>
                    <a href="/blog/entries">Blog</a>
                </li>
                <li>
                    <a href="/subscribe">Subscribe</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <slot/>
    </main>

    <footer id="site-footer">
        <!-- Written by { author } on <time datetime={ date }>{ date }</time> -->
        Astral is a community driven bla bla
    </footer>
    
    {scripts.map(x => <script src={x}></script>)}
</body>
</html>